.faq {
    margin: 1rem 0;
}
.faq-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
}

.faq-content div {
    border: solid 1px var(--secondary-color);
    border-radius: 8px;
    padding: 0.5rem;
    cursor: pointer;
}

.faq-content div:hover {
    box-shadow: 0 4px 8px var(--secondary-color);
    border: none;
    transition: 0.6s;
}