.reviews-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
}

.reviews-container h1 {
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
}

.reviews-container h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-weight: 600;
  font-size: large;
}

.reviews-container h3 span {
  margin: 0 0.5rem;
  display: flex;
  gap: 2px;
}

.reviews-container .icon {
  color: orange;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
  justify-items: center;
  box-sizing: border-box;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  font-size: 1rem;
  box-sizing: border-box;
}

.quote {
  padding: 5rem;
}

.review p {
  text-align: center;
}

.review article {
  font-weight: 600;
  font-size: 1rem;
  color: var(--secondary-color);
}

@media (max-width: 480px) {
  .reviews-container {
    padding: 0.5rem;
  }
}

@media (min-width: 480px) {
  .reviews-container h1 {
    font-size: 2rem;
  }
}
