.body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 83.33%;
    margin: 10rem auto 2rem auto;
}

.body h2 {
    text-align: center;
}

.search-content {
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.search-content input {
    
    position: relative;
    width: 50%;
    padding: 0.5rem 0.7rem;
    border-radius: 2rem;
    border: solid 1px;
    font-size: var(--fontsize-normal);
    outline: none;
    color: var(--secondary-color);
}

.common-services {
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.body-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* height: 100vh; */
}

.body-elements__mobile {
    display: none;
    margin: 0;
}

.body-elements img {
    max-width: 350px;
}

.common-services .common-services-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.common-services .common-services-content article {
    background-color: var(--secondary-color);
    padding: 0.5rem 0.7rem;
    cursor: pointer;
    border-radius: 4px;
    transition: box-shadow 0.6s;
    color: #fff;
}

.common-services .common-services-content article:hover {
    box-shadow: 0 8px 36px var(--secondary-color);
}

.body-elements div:nth-child(1) {
    position: relative;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.hire-us {
    border-radius: 2rem;
    border: none;
    color: #fff;
    width: 8rem;
    background-color: var(--secondary-color);
    transition: box-shadow 0.7s;
    text-decoration: none;
    padding: 0.5rem;
}

.hire-us:hover {
    box-shadow: 0 4px 36px var(--secondary-color);
}

img {
    width: 570px;
    aspect-ratio: 1;
    object-fit: contain;
}

.promo {
    margin-top: 2rem;
    width: 96vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.promo h2 span {
    color: var(--secondary-color);
    text-decoration: underline;
}

.promo button {
    border: none;
    border-radius: 2rem;
    text-align: center;
    background-color: var(--complementary);
    color: #fff;
    font-weight: bold;
    transition: box-shadow 0.7s;
}

.promo button:hover {
    box-shadow: 0 4px 36px var(--complementary);
}

.call-to-action {
    margin: 2rem 0;
    display: flex;
    justify-content: space-evenly;
    border: none;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 20px;
}

.call-to-action:hover {
    /* box-shadow: 0 4px 24px var(--secondary-color); */
    transition: 0.6s;
}

.call-to-action div {
    position: inherit;
    /* background-color: red; */
    width: 50%;
}

.call-to-action button {
    background-color: var(--complementary);
    border: none;
    color: #fff;
}

.faq__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media only screen and (max-width: 768px) {
    .body {
        width: 95vw;
        margin: 10rem auto 2rem auto;
    }
    .call-to-action {
        flex-direction: column;
        padding: 2rem;
        align-items: center;
    }
    .body-elements {
        display: none;
    }
    .body-elements__mobile {
        display: grid;
        place-content: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .body-elements__mobile .body-slogan {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto 0 auto;
        align-items: flex-start;
        gap: 1.25rem;
    }
    .body-elements__mobile .body-slogan h1 {
        color: rgba(0,0,0);
    }
    .body-elements__mobile .body-slogan article {
        color: rgb(6, 7, 7);
        font-size: 1.25rem;
        font-weight: normal;
        /* max-width: 300px; */
    }
    .body-elements__mobile .body-slogan button {
        text-align: center;
    }
    .body-elements__mobile .body-slogan .hire-us {
        text-align: center;
    }
    .common-services-content {
        flex-direction: column;
        align-items: center;
    }
    .common-services-content article {
        width: 60vw;
        text-align: center;
    }
}

/* small screens */
@media only screen and (max-width: 450px) {
    .body{
        width: 95vw;
        margin: 10rem auto 2rem auto;
    }
    .search-content input {
        width: 100%;
    }
    .body-elements__mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        margin-top: 2rem;
        padding: 0;
        width: 100vw;
    }
    .body-elements__mobile .body-slogan {
        width: 100%;
    }
    .body-elements__mobile .body-slogan h1 {
        width: 95%;
        text-align: start;
    }
    .body-elements__mobile .body-slogan article {
        width: 95%;
        text-align: left;
    }
    .body-elements__mobile .body-slogan .hire-us {
        text-align: center;
    }
    .promo button {
        margin-bottom: 1.25rem;
    }
    .call-to-action {
        margin: 0;
        z-index: 10;
    }
    .call-to-action div {
        width: 100%;
    }
}