.steps {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin: 0 auto;
}

.steps div {
    background-color: #f5f5f5;
    border-radius: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--secondary-color);
    max-width: 300px;
}

.steps div:hover {
    box-shadow: 0 4px 36px var(--secondary-color);
    transition: 0.6s;
}

.steps div strong {
    font-size: large;
    text-align: center;
}