nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #fff;
  height: 8dvh;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.nav-left {
  /* width: fit-content; */
  display: flex;
  align-items: center;
  font-size: xx-large;
  gap: 2rem;
  font-weight: bold;
}
.search-icon {
  display: flex;
}
.nav-right {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.search-bar {
  width: 60%;
}
.search-bar input {
  width: 100%;
  border-radius: 20px;
  border: 1px solid var(--secondary-color);
  text-indent: 0.8rem;
  /* padding: 0.8rem 0.5rem; */
}
.search-bar input:focus {
  outline: none;
  border: 1px solid var(--secondary-color);
}
.nav-btns {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.search-bar input,
.nav-btns button {
  font-size: var(--fontsize-normal);
  border-radius: 8px;
  font-size: 1rem;
  padding: 0.5rem 0.1rem;
}

.nav-btns button {
  border: none;
  padding: 0.5rem 1rem;
}

.nav-btns button:nth-child(1) {
  background-color: var(--secondary-color);
  color: #fff;
}
.nav-btns a:nth-child(2) button {
  background-color: initial;
  color: initial;
  border: solid 1px;
  color: var(--secondary-color);
  transition: background-color 0.3s ease-in-out;
}

.nav-btns a:nth-child(2) button:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .nav-left h1 {
    display: none;
  }
  .nav-left {
    position: relative;
    width: 10dvw;
  }
  .nav-right {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .nav-right {
    justify-content: flex-end;
    gap: 1rem;
  }
  .nav-btns {
    width: 10rem;
    gap: 1rem;
  }

  .search-bar input,
  .nav-btns button {
    padding: 0.5rem 0.6rem;
  }
}

@media only screen and (min-width: 480px) {
  .search-icon {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .mobile-invisible {
    display: none;
  }
  .nav-left,
  .nav-btns {
    display: none;
  }

  .search-bar {
    width: 90%;
  }
  .search-bar input {
    width: inherit;
  }
  .visible {
    display: flex;
  }
  .invisible {
    display: none;
  }

  .nav-btns {
    position: a;
    align-self: flex-end !important;
  }
}
