nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 1.5rem;
    border-bottom: 1px solid #dadada;
}
.nav-left{
    width: 40%;
}
.nav-right{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.search-bar{
    width: 60%;
}
.search-bar input{
    width: 90%;
    height: 2rem;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    padding: 0 0.5rem;
    text-indent: 0.8rem;
}
.search-bar input:focus{
    outline: none;
    border: 1px solid var(--primary-color);
}
.nav-btns {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.nav-btns button {
    border: none;
    font-size: var(--fontsize-normal);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.nav-btns button:nth-child(1) {
    background-color: var(--secondary-color);
    color: #fff;
}


@media only screen and (max-width: 768px) {
    .nav-left{
        width: 20%;
        /* background-color: pink; */
    }
    .nav-right{
        width: 80%;
        /* background-color: lightblue; */
    }
}

@media only screen and (max-width: 600px) {
    nav{
        padding: 0.2rem 1rem;
    }
    .nav-left{
        width: 20%;
    }
    .nav-right{
        width: 80%;
    }
    .nav-btns button{
        padding: 0.5rem 0.6rem;
    }
}

@media only screen and (max-width: 480px) {
    nav{
        flex-direction: column;
    }
    .nav-left, .nav-right{
        width: 100%;
    }
}