footer {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    gap: 2.25rem;
    padding: 4rem 1rem;
}

.footer-container {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1rem;
}

.footer-links-social {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: start;
}
.footer div:nth-child(2) article {
    cursor: pointer;
}

.footer div:nth-child(2) article:hover {
    color: var(--secondary-color);
    transition: 0.6s;
}

@media only screen and (max-width: 500px) {
    .footer-links {
        flex-direction: column;
    }
}