@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  --fontsize-normal: 0.95rem;
  --fontsize-small: 0.9rem;
  --primary-color: #0360d1;
  /* --secondary-color:#a7caff; */
  --secondary-color: #7fc2f5;
  --complementary: #eb7100;
  --text-color: #535354;
  --background: #f7fafc;
  --green-var: #14a014;
}

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-size: var(--fontsize-normal);
  color: var(--text-color);
  letter-spacing: 0.2px;
}

body {
  padding: 0;
  margin: 0;
}

button {
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  font-size: var(--fontsize-normal);
  width: fit-content;
}

h1 {
  line-height: 1.3 !important;
}

.banner {
  display: flex;
  align-items: center;
}

.description {
  font-size: large;
}
.img-container figure {
  display: flex;
  justify-content: center;
}

.stats {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats h1 {
  font-size: large;
  font-weight: bold;
}

.stats dl {
  display: flex;
  position: inherit;
  width: 100%;
}

.competitive {
  padding-top: 4rem;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.competitive h2 {
  margin-bottom: 2rem;
}

.competitive-items {
  width: 80%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1.5rem;
}

.competitive-items h3 {
  margin-bottom: 1rem;
  font-weight: bold;
}

.competitive-items div div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .competitive-items {
    width: 100%;
  }
  footer {
    padding: 0.5rem;
  }

  .quote {
    padding: 0rem;
  }
}
